html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d0d0d0;
    margin: 0;
    padding: 0;
}

.Tijden {
    display: inline;
    position: absolute;
    right: 20%;
}

.formBlock {
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 1.5%;
    background: #ffffff;
}

.type1 {
    width: auto;
}

.ResForm {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}

h1 {
    text-align: center;
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    border: 1px solid #aaaaaa;
}

input.invalid {
    background-color: #ffdddd;
}

.tab {
    display: none;
    padding: 1%;
    position: relative;
}

button {
    background-color: #555555;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: #bbbbbb;
}

.rotated-half-circle {
    /* Create the circle */
    width: 40px;
    height: 40px;
    border: 10px solid black;
    border-radius: 50%;
    /* Halve the circle */
    border-bottom-color: transparent;
    border-left-color: transparent;
    /* Rotate the circle */
    transform: rotate(135deg);
}