html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d0d0d0;
    margin: 0;
    padding: 0;
}

.ResForm {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}

h1 {
    text-align: center;
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    border: 1px solid #aaaaaa;
}

input.invalid {
    background-color: #ffdddd;
}

.tab {
    display: none;
}

button {
    background-color: #555555;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: #bbbbbb;
}
